* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  
    hr {
      border: 1px solid #9f3647;
      width: 80%;
      margin: 0 auto;
    }
  }


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9f3647;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9f3647;
  }
  
  .header {
    background-color: #9f3647;
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 3rem;
    .nav {
      .title-logo {
        text-decoration: none;
        &:hover {
          animation: move-title 0.25s infinite;
        }
        i,
        span {
          font-size: 1.2rem;
        }
      }
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        li {
          list-style: none;
          margin-left: 1rem;
          border-radius: 5px;
          box-sizing: border-box;
  
          a {
            transition: transform 0.3s, box-shadow 0.3s;
            padding: 0.5rem 1rem;
  
            &:hover {
              background-color: #9f3647;
              transform: scale(0.95);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
  
  .login {
    background-color: #000;
    border-radius: 5px;
  }

  main {
    background-color: #181419;
    padding-bottom: 60px;
    min-height: calc(100vh - 10vh);
  }
  
  .section-trends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      margin-top: 2rem;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 40px;
      text-align: center;
      margin-bottom: 40px;
      color: #fff;
    }
  
    .movies-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      .movies {
        width: 12.5rem;
        height: 18.75rem;
        position: relative;
        border-radius: 10px;
        box-sizing: border-box;
  
        .movie {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          overflow: hidden;
          transition: all 0.5s ease;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
          }
  
          .movie-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
          h3 {
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
            transition: opacity 0.9s ease-in-out;
            opacity: 0;
            z-index: 10;
            padding: 0 1rem;
          }
          &:hover {
            box-shadow: 0 0 30px #9f3648cd;
            transform: scale(0.9);
          }
          &:hover .movie-title {
            backdrop-filter: blur(20px);
          }
          &:hover h3 {
            opacity: 1;
          }
          &:hover img {
          }
        }
      }
    }
  }
  
  .btn-next,
  .btn-prev {
    background-color: #9f3647;
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 20px;
    &:hover {
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
  }

  .arrow{
    position: fixed;
    bottom: 15px;
    right: 10px;
  }

  .footer {
    background-color: #9f3647;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    ul {
      display: flex;
      justify-content: space-between;
      .list-item {
        list-style: none;
        border-radius: 5px;
        box-sizing: border-box;
  
        a {
          font-size: 1.2rem;
          font-weight: 700;
          padding: 0.5rem 1rem;
          &.login {
            background-color: #000;
            border-radius: 5px;
          }
        }
      }
    }
  }



  @keyframes move-title {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }



@media screen and (max-width: 850px) {
  html {
    font-size: 15px;
  }

}

@media screen and (max-width: 775px) {
  html {
    font-size: 13px;
  }

  .header{
    height: 13vh;
    padding: 1.2rem 0;
    .nav{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-logo{
        span,i{
          font-size: 1.7rem;
        }
      }
      ul {
        height: 50%;
        display: flex;
        align-items: center;
      }
      a {
        height: 50%;
        align-items: center;
        display: flex;
        align-items: center;
      }

    }
  }

  .section-main {
    height: 60vh;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  .section-search {
    .search {
      width: 25rem;
    }
  }

  .section-trends {
    .movies-container {
      .movies {
        width: 15rem;
        height: 22rem;
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .footer {
    height: 18vh;
    ul {
      flex-direction: column;
      gap: 10px;
      li{
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:560px) {
.header a{
  font-size: .7rem;
  text-align: center;
}

  .section-trends {
    .movies-container {
      .movies {
        width: 24rem;
        height: 36rem;
      }
    }
  }
}



@media screen and (max-width: 380px) {
  .footer{
    ul{
      .list-item{
        a{
          font-size: 1rem;
        }
      }
    }
  }

}